::-webkit-scrollbar { 
    display: none; 
}

body{
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

nav {
    height: 65px;
    background-color: #4ab367;
}

#sideBar {
    position: absolute;
    top: 66px;
    bottom: 0;
    width: 25%;
    float: left;
    /* background-color: #ecf0f0; */
    background-color: #95a5a6;
    overflow: auto;
}

div .leader {
    /* background: red; */
    background-color: #ecf0f0;
}

.name {
    font-weight: bold;
    text-align: right;
}

.outgoing {
    text-align: right;
}

#bulk {
    float: left;
    position: absolute;
    top: 66px;
    right: 0;
    width: 75%;
    bottom: 80px;
    overflow: auto;
    background-color: #95a5a6;
}

#bulk .outgoing{
    text-align: right;
}

#field{
    position: absolute;
    float: right;
    bottom: 0;
    height: 80px;
    right: 0;
    width: 75%;
    border: 0;
}